@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #8ED1FC;
	text-align: center;
	margin-bottom: 70px;
	position: relative;
}

.menu_container {
	width: 900px;
	margin: 0 auto;
}

.menu_bar {
	width: 900px;
	height: 90px;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.menu_bar li {
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555; /* 기본 글자색: 진한 회색 */
	cursor: pointer;
	font-size: 20px; /* 기본 글씨 크기 증가 */
}

.menu_bar li:hover {
	color: black;
	font-weight: bold; /* 글씨 굵기 증가 */
}

.menu_bar li.active {
	color: black;
	font-weight: bold; /* 클릭한 메뉴 글씨 굵기 */
	font-size: 24px; /* 글씨 크기 유지 */
}

.menu_bar a {
	color: inherit; /* 부모 li의 글자색을 따르도록 설정 */
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.menu_bar a:hover {
	color: inherit; /* li에 마우스를 올리면 a 텍스트 색상 변경 없음 */
}

.user-icon {
	width: 150px;
	height: 30px;
	margin-top: 5px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	right: 0; /* 오른쪽 끝으로 위치 */
	top: 30px;
	text-decoration: none; /* 밑줄 제거 */
}

.user-icon  a{
	text-decoration: none; /* 밑줄 제거 */
}